.logo-container {
  background-color: #f8f8fa;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.logo-name {
  margin: 0 0 0 15px;
  font-size: x-small;
}
.logo a {
  color: white;
}

.site-layout .site-layout-background {
  background: white;
}
.navbar {
  height: 100vh;
  background: #f8f8fa;
}
.menu {
  height: 100vh;
}
.c-sidebar {
  background: #f8f8fa;
}
.routes {
  height: 100vh;
}
.ant-menu .ant-menu-item-selected {
  background-color: white;
}

.ant-menu > .ant-menu-item:hover > .ant-menu-title-content {
  color: black;
}

.ant-menu > .ant-menu-item-selected > .ant-menu-item-icon {
  color: black;
}
.ant-menu > .ant-menu-item-active > .ant-menu-title-content {
  color: black;
}
.ant-menu > .ant-menu-item-selected > .ant-menu-title-content {
  color: black;
}
.ant-menu-item > .ant-menu-item-icon {
  color: grey;
}
.ant-menu-item:hover > .ant-menu-item-icon {
  color: black;
}
.card {
  height: 120px;
}
.stat-heading {
  margin-bottom: 10px;
}
.card-num-Text {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -2px;
  display: block;
}
.card-orange {
  color: #f97109;
}
.homeopage-Container {
  height: 100%;
}
.country-stats-container {
  height: 50%;
}
.chart-contianer {
  height: 50%;
}
.countries-List-container {
  overflow: scroll;
  height: 100%;
}
.affected-Country-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid gray 2px;
  background-color: #f8f8fa;
}
.affected-Country-title {
  margin-bottom: 0;
}

.listCountries {
  display: flex;
  width: 90%;
  margin: 20px;
  justify-content: space-between;
  align-items: center;
}
.flag-emoji {
  width: 30%;
}
.activeCase {
  width: 50%;
  display: flex;
  justify-content: left;
}
.country-name {
  width: 20%;
  font-size: medium;
  color: gray;
  display: flex;
  justify-content: flex-start;
}
/* .flag-emoji {
  width: 35px;
  height: 35px;
  border-radius: 100%;
} */
.flag-svg {
  width: 35px;
  height: 35px;
}
.line-chart-cont {
  height: 100%;
}
.listCountryHeader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10%;
}
.activeCaseHeader {
  width: 40%;
  margin-top: 20px;
}
.countaryHeader {
  width: 30%;
}
